<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://0.soompi.io/wp-content/uploads/2016/10/20130716/park-bo-gum-v.png", width:300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>BTS, also known as Bangtan Boys, Bulletproof Boy Scouts or Beyond The Scene, is a seven-member South Korean boy band formed by Big Hit Entertainment. Their name in Korean - Bangtan Sonyeondan (Hangul: 방탄소년단; Hanja: 防彈少年團), and Japanese - Bōdan Shōnendan (防弾少年団), both translate to "Bulletproof Boy Scouts". </p>
  </div>
</div>

